/* .App {
  text-align: center;
  background-color: #292929;
  color: #d1d1d1;
  display: grid;
  grid-template-columns: 10% auto;
  grid-template-rows: 50px auto;
}
*/
 li {
   list-style-type: none;
 }
  