 body {
  background-color: #22333B;
  color: #EAE0D5;
  font-family: Tahoma, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
   list-style-type: none;
}

 
button {
	 background:linear-gradient(to bottom, #616161 5%, #2f2f2f 100%);
	 border:1px solid #000000;
	 display:inline-block;
	 cursor:pointer;
	 color:#ffffff;
	 font-family:Arial;
	 font-size:13px;
	 font-weight:bold;
	 padding:4px 10px;
	 text-decoration:none;
}

button:hover {
		background:linear-gradient(to bottom, #757575 5%, #616161 100%);
}

button:active {
		position:relative;
		top:1px;
		outline-color: red;
}

.Upvote:active {
		position:relative;
		top:1px;
		outline-color: green;
}

.Upvote:focus {
	outline-color: green;
}

.Downvote:active {
		position:relative;
		top:1px;
		outline-color: red;
}

.Downvote:focus {
	outline-color: red;
}
	
a {
		color: rgb(199, 190, 180);
		text-decoration: none;
		text-transform: uppercase;
}

.Header {
		background-color: rgb(98, 0, 0);
		min-width: 500px;
		margin-left: -8px;
		margin-right: -8px;
		margin-top: -10px;
		/* border: black solid 1px; */
		text-align: center;
}

.Header p {
	margin: auto;
	padding: 12px;
	font-size: 50px;
	border-bottom: 2px solid black;
}

.Navbar {
	border-left: grey solid 2px;
	border-right: grey solid 2px;
	border-top: grey solid 2px;
	background-color: rgb(34, 34, 34);
	margin: auto;
	min-width: 400px;
	width: 70%;
	height: 40px;
	padding: 10px;
	/* padding: 10px; */
	display: grid;
	grid-template-columns: 200px auto 200px;
	grid-template-areas: "buttons . userbox";
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	/* justify-items: stretch; */
}

.NavButtons {
	grid-area: buttons;
	justify-self: stretch;	
}

.NavButtons button {
	width: 100px;
	height: 40px;
	font-size: 20px;
	font-weight: normal;
}

.userBox {
	grid-area: userbox;
}

.userBox select {
	background-color: rgb(19, 19, 19);
	border-color: rgb(58, 58, 58);
	color: #EAE0D5;
	font-size: 16px;
}

 
.ContentView {
		border-left: grey solid 2px;
		border-right: grey solid 2px;
  	background-color: rgb(27, 41, 47);
		margin: auto;
		height: 100%;
		min-width: 400px;
		width: 70%;
		padding: 10px;
		/* background-color: white; */
}

.TopicCard {
	border: white solid 1px;
	border-radius: 5px;
	padding: 3px 10%;
	/* height: 50px */
}

.SortForm {
	/* border: green solid 1px; */
	display: grid;
	grid-template-columns: 240px 240px auto;
	grid-template-rows: 50% 50%;
	grid-template-areas: 
		"ParameterSort AuthorSort"
		"OrderSort AuthorSort";
	border-bottom: whitesmoke dotted 1px;
}

.SortForm select {
	background-color: rgb(19, 19, 19);
	border-color: rgb(58, 58, 58);
	color: #EAE0D5;
	font-size: 16px;
}

.ParameterSort {
	grid-area: ParameterSort;
	padding: 10px;
	padding-top: 2px;

}

.AuthorSort {
	grid-area: AuthorSort;
	padding: 10px;
	padding-top: 2px;
}

.OrderSort {
	grid-area: OrderSort;
	padding: 5px;
	padding-top: 0px;
	padding-left: 10px;
}

@media only screen and (max-width: 720px) {
	.SortForm {
		display: flex;
		flex-direction: column-reverse;
		/* align-items: center; */
	}

	.ParameterSort {
		padding: 2px;
		padding-left: 8px;
	}

	.OrderSort {
		padding: 2px;
		padding-left: 8px;

	}

	.AuthorSort {
		padding: 2px;
		padding-left: 8px;

	}
}

.ArticleView {
	/* border: green solid 1px; */
	display: grid;
	grid-template-columns: 50% 50%;

}

.ArticleCard {
	border: grey solid 2px;
	border-radius: 5px;
	margin: 20px;
	padding: 10px;
}

.VoteTracker {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	/* margin-top: 20px; */
	height: 50px;
}

.VoteTracker button {
	height: 40px;
	margin: 8px;
	
}